<div class="container-fluid">
  <app-header></app-header>
  <div class="col-12">
    <div class="row mb-5" style="justify-content: center;">
      <div class="col-sm-12 col-lg-4 mb-3">
        <app-input (updateValue)="updateValue($event)" [properties]="xProperties"></app-input>
      </div>
      <div class="col-sm-12 col-lg-4 mb-3">
        <app-input (updateValue)="updateValue($event)" [properties]="yProperties"></app-input>
      </div>
    </div>
    <app-result [itemId]="itemId"></app-result>
  </div>
</div>